<?xml version="1.0" encoding="UTF-8"?>
<settings>
   <pluginGroups>
      <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
   </pluginGroups>
   <profiles>
   <profile>
      <id>sonar</id>
      <activation>
         <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
         <sonar.host.url>https://sonarqube.tools-k8s.a.intuit.com</sonar.host.url>
         <sonar.projectName>msaas-${artifactId}</sonar.projectName>
         <sonar.tests>./src/test</sonar.tests>
         <sonar.junit.reportsPath>./target/surefire-reports</sonar.junit.reportsPath>
         <sonar.surefire.reportsPath>./target/surefire-reports</sonar.surefire.reportsPath>
         <sonar.jacoco.reportPath>./target/test-results/coverage/jacoco/jacoco.exec</sonar.jacoco.reportPath>
         <sonar.binaries>./app/target/classes/</sonar.binaries>
         <sonar.java.coveragePlugin>jacoco</sonar.java.coveragePlugin>
      </properties>
   </profile>
      <profile>
         <id>nexus-repo</id>
         <repositories>
            <repository>
               <id>central</id>
               <url>http://nexus.intuit.net/nexus/content/groups/public</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>central</id>
               <url>http://nexus.intuit.net/nexus/content/groups/public</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <profile>
         <id>nexus-deploy</id>
         <properties>
            <url.releases>http://nexus.intuit.net/nexus/content/repositories/SBG.QBO.Intuit-Releases</url.releases>
            <url.snapshots>http://nexus.intuit.net/nexus/content/repositories/SBG.QBO.Intuit-Snapshots</url.snapshots>
            <url.site>file://${env.TEMP}/site/${env.JOB_NAME}/LATEST</url.site>
         </properties>
      </profile>
      <profile>
         <id>always-active</id>
         <properties>
            <surefire.useFile>false</surefire.useFile>
            <bldUserName>${env.USERNAME}</bldUserName>
            <bldChangeList>${env.P4_CHANGELIST}</bldChangeList>
            <bldTimeStamp>${env.BUILD_ID}</bldTimeStamp>
            <bldNumber>${env.BUILD_NUMBER}</bldNumber>
            <bldURL>${env.HUDSON_URL}job/${env.JOB_NAME}/${env.BUILD_NUMBER}/</bldURL>
            <bldTag>${env.BUILD_TAG}</bldTag>
            <winkinUI>${env.WINKIN_UI}</winkinUI>
            <includeSources>${env.INCLUDE_SOURCES}</includeSources>
         </properties>
      </profile>
   </profiles>
   <interactiveMode>false</interactiveMode>
   <mirrors>
      <mirror>
         <id>nexus</id>
         <mirrorOf>*</mirrorOf>
         <url>http://nexus.intuit.net/nexus/content/groups/public</url>
      </mirror>
   </mirrors>

   <activeProfiles>
      <activeProfile>always-active</activeProfile>
      <activeProfile>sonar</activeProfile>
      <activeProfile>nexus-repo</activeProfile>
      <activeProfile>nexus-deploy</activeProfile>
   </activeProfiles>
</settings>
